<div class="container">
    <div class="row border-bottom">
        <a class="col" asp-area="Admin" asp-controller="ManageProducts" asp-action="NewProductInformation">Current Products</a>
        <a class="col">Add New Products</a>
        <a class="col"></a>
        <a class="col"></a>
    </div>
</div>
