@{
    ViewData["Title"] = "Add new Product";
}

<partial name="_NavManageProductsPartial" />
<h1>@ViewData["Title"]</h1>
<form class="container">
    <div class="row">
        <div class="col">
            <label class="form-label">Product Name</label>
            <input type="text" class="form-control" placeholder="Enter Name" required/>
            <div class="invalid-feedback">
                Enter Product Name
            </div>
        </div>
    </div>
</form>
<!--<form class="form">
    <div class="form-control">
        <label class="form-label">Product Name</label>
        <input type="text" />
    </div>-->


    <!--
        TODO
        Create control group for BRAND
        Create control group for GEN TYPE
        CERATE control group for SUB Type
        -->

    <!--<div class="dropdown">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButtonSM" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown button
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonSM">
            <li><h6 class="dropdown-header">Dropdown header</h6></li>
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
    </div>
</form>-->