@{
    ViewData["Title"] = "Add new Product";
}

<partial name="_NavManageProductsPartial" />
<h1>@ViewData["Title"]</h1>
<form class="form">
    <div class="form-control">
        <label class="form-label">Product Name</label>
        <input type="text" />
    </div>


    <!--
        TODO
        Create control group for BRAND
        Create control group for GEN TYPE
        CERATE control group for SUB Type
        -->
    <div class="form-control container">
        <h4 class="form-label">Brand</h4>
        <div class="dropdown">
            <a class="dropdown-toggle" id="dropdown" data-toggle="dropdown" aria-expanded="false" href="#">DropDown</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown">
                <li><a class="dropdown-item">Action</a></li>
                <li><a class="dropdown-item">Another Action</a></li>
                <li><a class="dropdown-item">More Actions</a></li>
            </ul>
        </div>
        
    </div>
    <!--<div class="form-control">
        <label class="form-label">General Type</label>
        <input type="text" />
    </div>
    <div class="form-control">
        <label class="form-label">SubType</label>
        <input type="text" />
    </div>-->

    <!---->

    <!--<div class="form-control">
        <label class="form-label">Retail Price</label>
        <input type="text" />
    </div>
    <div class="form-control">
        <label class="form-label">Tax</label>
        <input type="text" />
    </div>
    <button>Add Stock</button>-->
</form>