@{
    ViewData["Title"] = "Add new Product";
}

<partial name="_NavManageProductsPartial" />
<h1>@ViewData["Title"]</h1>
<!--
TODO
Create control group for BRAND
Create control group for GEN TYPE
CERATE control group for SUB Type
-->

<form>
    <div class="input-group">
        <span class="input-group-text">Product Name</span>
        <input type="text" class="form-control" placeholder="Product name" />
    </div>
    <div class="input-group">
        <span class="input-group-text">Retale Price</span>
        <input type="number" class="form-control" placeholder="Retail Price" />
    </div>
    <div class="input-group">
        <span class="input-group-text">Tax Type</span>
        <input type="text" class="form-control" placeholder="Tax Type" />
    </div>
    <div class="input-group">
        <select class="form-select">
            <option>Option1</option>
            <option>Option2</option>
            <option>Option3</option>
        </select>
        <div class="input-group">
            <div class="input-group-text">
                <input class="form-check-input"
                       type="checkbox" aria-label="New Brand CheckBox" />
                <label>New Brand</label>
            </div>
            <input type="text" class="form-control" aria-label="Enter Brand here" />
        </div>
    </div>
</form>