@{
    ViewData["Title"] = "Add new Product";
}

<partial name="_NavManageProductsPartial" />
<h1>@ViewData["Title"]</h1>
<form class="form-group">
    <div class="form-control">
        <label class="form-label">Product Name</label>
        <input type="text" />
    </div>
</form>