@{
    ViewData["Title"] = "Manage Products";
}
<div class="container">
    <div class="row border-bottom">
        <a class="col">Current Products</a>
        <a class="col">Add New Products</a>
        <a class="col"></a>
        <a class="col"></a> 
    </div>
</div>