@model ProductModel
@{
    ViewData["Title"] = "Add new Product";
}

<partial name="_NavManageProductsPartial" />
<h1>@ViewData["Title"]</h1>

<article class="my-3">
    <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
        <h3>New Product information</h3>
    </div>
    <div>
        <form class="row">
            <div>
                <label class="form-label">Product Name:</label>
                @Html.TextBoxFor(p => p.ProductName)
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
        </form>
    </div>
</article>