@model ProductCreationViewModel

@{ 
    ViewData["Title"] = "Review and Submit";
}


<div class="container">

</div>
<button type="button" 
        class="btn btn-primary"
        asp-action="ReviewSubmit" 
        asp-route-product="@Model.Product" 
        asp-route-action="Submit"
        >Submit
    </button>


