@{ 
    ViewData["Title"] = "Subtype Add / Edit";
}
<h1>@ViewData["Title"]</h1>
<form class="mt-3">
    <div class="mb-3">
        <label class="form-label">SubType Type Name:</label>
        <input type="text" class="form-control" placeholder="e.g False Eye Lashes" />
    </div>
    <button class="btn btn-outline-primary">SUBMIT</button>
</form>