@{ 
    ViewData["Title"] = "Subtype Add / Edit";
}
<h1>@ViewData["Title"]</h1>
<form class="mt-3">
    <div class="mb-3">
        <label class="form-label">SubType Type Name:</label>
        <input type="text" class="form-control" placeholder="e.g False Eye Lashes" />
    </div>
    <div class="mt-1">
        <label class="form-label">Stem Type:</label>
        <select class="dropdown">
            <option class="dropdown-header">--Select Option--</option>
            <option class="dropdown-item" >Brand</option>
            <option class="dropdown-item">Brand</option>
            <option class="dropdown-item">Brand</option>
            <option>Brand</option>
        </select>
    </div>
    <button class="btn btn-outline-primary">SUBMIT</button>
</form>