@{
    ViewData["Title"] = "Product Info Manager";
}
<h1>@ViewData["Title"]</h1>
<div class="container">
    <div class="row">
        <div class="col mb-3">
            <div class="card">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96" /><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>

                <div class="card-body">
                    <h5 class="card-title">Brands</h5>
                    <p class="card-text">Manage Brand informations here</p>
                    <a href="#" class="btn btn-primary p-4">Go!</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mb-3">
            <div class="card">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96" /><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>

                <div class="card-body">
                    <h5 class="card-title">Product Types</h5>
                    <p class="card-text">Manage product types for here.</p>
                    <a href="#" class="btn btn-primary p-4">Go!</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mb-3">
            <div class="card">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96" /><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>

                <div class="card-body">
                    <h5 class="card-title">Product Subtype</h5>
                    <p class="card-text">Subtypes stem from the general product types.Manage here.</p>
                    <a href="#" class="btn btn-primary p-4">Go!</a>
                </div>
            </div>
        </div>
    </div>
</div>