@{
    ViewData["Title"] = "Product Info Manager";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    @if (TempData["message"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show m-5" role="alert">
            @TempData["message"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <!--BRAND NAMES-->
    <div class="row">
        <div class="col mb-3">
            <div class="card">
                <svg class="bd-placeholder-img card-img-top" width="0" height="0" xmlns="http://www.w3.org/2000/svg"
                     role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice"
                     focusable="false">
                    <title>Placeholder</title>
                    <rect width="0%" height="0%">
                        <img src="~/img/cosmetic-logos4.png" />
                    </rect>

                    @*<text x="50%" y="50%" fill="#dee2e6" dy=".3em">What is this label for</text>*@
                </svg>

                <div class="card-body">
                    <h5 class="card-title">Brands</h5>
                    <p class="card-text">Manage Brand informations here</p>
                    <a asp-area="Admin" asp-controller="ProductInfoManager" asp-action="AddEditBrand" class="btn btn-primary ">Add New</a>
                    <a asp-area="Admin" asp-action="BrandList" class="btn btn-secondary">View List</a>
                </div>
            </div>
        </div>
    </div>
    <!--General Types-->
    <div class="row">
        <div class="col mb-3">
            <div class="card">
                <svg class="bd-placeholder-img card-img-top" width="0" height="0" xmlns="http://www.w3.org/2000/svg"
                     role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice"
                     focusable="false">
                    <title>Placeholder</title>
                    <rect width="0%" height="0%">
                        <img src="~/img/GeneralType.png" />
                    </rect>
                    @*<text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>*@
                </svg>
                <div class="card-body">
                    <h5 class="card-title">General Product Types</h5>
                    <p class="card-text">A good example of a general type is makeup or skincare.Manage general product types for here.</p>
                    <a asp-action="AddEditGeneralType" class="btn btn-primary">Add New</a>
                    <a asp-action="GeneralTypeList" class="btn btn-secondary">View List</a>
                </div>
            </div>
        </div>
    </div>
    <!--SubTypes-->
    <div class="row">
        <div class="col mb-3">
            <div class="card">
                <svg class="bd-placeholder-img card-img-top" width="0" height="0" xmlns="http://www.w3.org/2000/svg"
                     role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice"
                     focusable="false">
                    <title>Placeholder</title>
                    <rect width="0%" height="0%">
                        <img src="~/img/subtype.png" />
                    </rect>
                    @*<text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>*@
                </svg>
                <div class="card-body">
                    <h5 class="card-title">Product Subtype</h5>
                    <p class="card-text">
                        Subtypes stem from the general product types.For example false eyelashes are a subtype of makeup or exfoliators are a subtype of skincare.Manage here.
                    </p>
                    <a asp-action="AddEditSubType" class="btn btn-primary">Add New</a>
                    <a asp-action="SubTypeList" class="btn btn-secondary">View List</a>
                </div>
            </div>
        </div>
    </div>
</div>