/*TOP*/
body {
    background-color: #ac7a00
}

header .jumbotron {
    background-color: #f5ae00;
    min-height:3em;
    padding:0px
}

header {
}

nav {

}




/*FOOTER STYLES*/

footer div {
    background-color: black;
    color: white;
}

footer {
    font-size: small;
    background-color: black
}



/*BUTTOm*/

